body {
  background-color: #beecba;
  margin: 0;

}

li {
  list-style-type: none;
}

/* button {
  border-radius: 50px;
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  background-color: #8ae18e;
  top: 35px;
  left: 540px;
  float: right;
  position: absolute;
} */

.btn {
  color: #111356;
}

/* nav {
  background-color: #a4e59f;
  height: 100px;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;

} */

.txt {
  margin-RIGHT: 500PX;
  color: white;
  display: flex;


}

.center {
  font-family: 'Rubik', sans-serif;
  color: white;
}

.cse {
  margin-left: 450px;
  margin-top: 0px;
  margin-bottom: 100px;
  width: 90px;
  margin-top: 50px;
}

.gh {
  margin-left: 50px;
  margin-top: 0px;
  width: 200px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.golden {
  color: olive;
}

.cnt {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
}

.media {
  width: 390px;
  margin: -20px;
}

.und {
  margin-top: -27px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: white;
  margin-bottom: 50px;

}

.end {
  color: #111356;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin-top: 100px;

}

.rec {
  width: 100%;

}

footer {
  background-color: #AFDFABB8;
}